.partC-wrapper{
    width: 1400px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px 0;
}

// 


// 
.partC__head{
    margin-top: 160px;
    &-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-weight: 700;
            font-size: 34px;
            line-height: 51px;
            font-family: sans-serif;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            font-family: sans-serif;
            color: #22343D;
            margin-top: -20px;
        }
    }
    &-cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px;
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            font-family: sans-serif;
            color: #22343D;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            font-family: sans-serif;
            color: #22343D;
            margin-top: -20px;
        }
        h3{
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            font-family: sans-serif;
        }
        button{
            width: 140px;
            height: 45px;
            background-color: #02897A;
            color: white;
            font-family: sans-serif;
            font-weight: 400;
            font-size: 18px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        .price{
                display: flex;
                align-items: center;
                justify-content: center;
            h1{
                font-size: 70px;
                font-family: sans-serif;
                font-weight: 400;
                color: #02897A;
            }
            .price2 {
                span{
                    position: relative;
                    top: 15px;
                    right: 25px;
                    color: #02897A;
                    font-size: 24px;
                    font-family: sans-serif;
                }
                p{
                    margin-left: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    font-family: sans-serif;
                    color: #AFAFAF;
                    margin-top: 20px;
                }
            }
        }
    }
    .card{
        width: 320px;
        height: 450px;
        border: 1px solid #aaaaaa;
        border-radius: 10px;
    }
    .card:hover{
        position: relative;
        bottom: 10px;
        box-shadow: 0px 20px 10px 2px #aaaaaa;
        transition: 0.5s ease all;
    }
    
}
.partC__center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    &-bg{
        width: 970px;
        height: 350px;
        background-color: #02897A;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 35px;
    }
    &-left{
        margin: 0 40px;
        h1{
            font-weight: 600;
            font-size: 32px;
            line-height: 151.4%;
            font-family: sans-serif;
            color: white;
            margin-top: -20px;
        }
        .button {
            min-width: 300px;
            min-height: 60px;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: #4FD1C5;
            background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 12px 12px 24px rgba(79,209,197,.64);
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
            margin-top: 20px;
        }
        
        button::before {
            content: '';
            border-radius: 1000px;
            min-width: calc(300px + 12px);
            min-height: calc(60px + 12px);
            border: 6px solid #00FFCB;
            box-shadow: 0 0 60px rgba(0,255,203,.64);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s ease-in-out 0s;
        }

        .button:hover, .button:focus {
            color: #313133;
            transform: translateY(-6px);
        }

        button:hover::before, button:focus::before {
            opacity: 1;
        }

        button::after {
            content: '';
            width: 30px; height: 30px;
            border-radius: 100%;
            border: 6px solid #00FFCB;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
        }

            button:hover::after, button:focus::after {
            animation: none;
            display: none;
        }
    }
}
