@media screen and (max-width: 1400px){
    .partA__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partA__head{
        width: 100%;
        margin-left: 0;
    }
    .partA__footer{
        width: 100%;
        margin-left: 0;
    }
    .partB__head{
        width: 100%;
        margin-left: 0;
    }
    .partB__center{
        width: 100%;
        margin-left: 0;
    }
    .partB__foot{
        
        width: 100%;
        margin-left: 0;
    }
    .partC__head{
        
        width: 100%;
        margin-left: 0;
    }
    .partC__center{
        width: 100%;
        margin-left: 0;
    }
    .partC__wrapper{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 1200px){
    .partA__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partA__head{
        width: 100%;
        margin-left: 0;
    }
    .partA__footer{
        width: 100%;
        margin-left: 0;
    }
    .partB__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partB__center{
        width: 100%;
        margin-left: 0;
    }
    .partB__foot{
        width: 100%;
        margin-left: 0;
    }
    .partC__head{
        width: 100%;
        margin-left: 0;
    }
    .partC__center{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 1024px){
    .partA__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partA__head{
        width: 100%;
        margin-left: 0;
    }
    .partA__footer{
        width: 100%;
        margin-left: 0;
    }
    .partB__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partB__center{
        width: 100%;
        margin-left: 0;
        position: relative;
        right: 230px;
    }
    .partB__foot{
        width: 100%;
        margin-left: 0;
        position: relative;
        right: 260px;
    }
    .partC__head{
        width: 100%;
        margin-left: 0;
    }
    .partC__center{
        width: 100%;
        margin-left: 0; 
    }
}

@media (max-width:760px) {
    .partC__center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .partC__head-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-first, &-second, &-third{
            margin-top: 20px;
        }
    }
    .partB__foot-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .partB__foot-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .partB__head{
        margin: 0 auto;
        &-first{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
        }
        &-second{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
        }
        &-third{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
        }
    }

    .partA__foot{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-first{
            text-align: center;
        }
        &-second{
            text-align: center;
        }
        &-third{
            text-align: center;
        }
        &-fourth{
            text-align: center;
        }
    }
    .partA__wrapper{
        max-width: 760px;
        width: 100%;
        margin-left: 0;
    }
    .partA__head{
        max-width: 760px;
        width: 100%;
        margin-left: 0;
        .hamburger{
            display: block;
        }
        &-right{
            display: none;
            a, button{
                display: none;
            }
        }
    }
    .partA__center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        img{
            margin-top: 20px;
        }
    }
}


// @media (min-width: 500px){
//     .partC__head{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         &-cards{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
//     .partB__foot{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         &-cards{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
// }