@media (max-width:760px) {
    .partB__head{
        position: relative;
        right: 150px;
    }
    .partB__center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        right: 350px !important;
    }
    .partC__head{
        position: relative;
        right: 350px;
    }
    .partC__center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        right: 340px;
        &-bg{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 780px !important;
            width: 30% !important;
            h1{
                margin-top: 40px !important;
            }
        }
    }
    .partB__foot{
        position: relative;
        right: 350px;
    }
    .partA__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partA__center{
        width: 100%;
        position: relative;
        right: 350px;
        margin-left: 0;
    }
    .partA__footer{
        width: 100%;
        position: relative;
        right: 350px;
        margin-left: 0;
    }
    .partB__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partC__center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partC__head-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        &-first, &-second, &-third{
            margin-top: 20px;
            width: 100%;
            margin-left: 0;
        }
    }
    .partB__foot-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partB__foot-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partB__head{
        width: 100%;
        margin-left: 0;
        
        &-first{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
            width: 100%;
            margin-left: 0;
        }
        &-second{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
            width: 100%;
            margin-left: 0;
        }
        &-third{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
            width: 100%;
            margin-left: 0;
        }
    }

    .partA__foot{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        &-first{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
        &-second{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
        &-third{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
        &-fourth{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
    }
    .partA__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partA__head{
        width: 100%;
        margin-left: 0;
        .hamburger{
            display: block;
            width: 100%;
            margin-left: 0;
            position: relative;
            left: 400px;
        }
        &-right{
            display: none;
            a, button{
                display: none;
            }
        }
    }
    .partA__center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
        img{
            margin-top: 20px;
        }
    }
    
}


// @media (min-width: 500px){
//     .partC__head{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         &-cards{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
//     .partB__foot{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         &-cards{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
// }