@media (max-width:760px) {
    .partB__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partC__center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partC__head-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        &-first, &-second, &-third{
            margin-top: 20px;
            width: 100%;
            margin-left: 0;
        }
    }
    .partB__foot-txt{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partB__foot-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }
    .partB__head{
        width: 100%;
        margin-left: 0;
        
        &-first{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
            width: 100%;
            margin-left: 0;
        }
        &-second{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
            width: 100%;
            margin-left: 0;
        }
        &-third{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            right: 240px;
            width: 100%;
            margin-left: 0;
        }
    }

    .partA__foot{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        &-first{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
        &-second{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
        &-third{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
        &-fourth{
            text-align: center;
            width: 100%;
            margin-left: 0;
        }
    }
    .partA__wrapper{
        width: 100%;
        margin-left: 0;
    }
    .partA__head{
        width: 100%;
        margin-left: 0;
        .hamburger{
            display: block;
            width: 100%;
            margin-left: 0;
        }
        &-right{
            display: none;
            a, button{
                display: none;
                width: 100%;
                margin-left: 0;
            }
        }
    }
    .partA__center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
        img{
            margin-top: 20px;
            width: 100%;
            margin-left: 0;
        }
    }
    h1, h2, h3, p{
        width: 100%;
        margin-left: 0;
    }
    img{
        margin-left: 0;
    }
}


// @media (min-width: 500px){
//     .partC__head{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         &-cards{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
//     .partB__foot{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         &-cards{
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             flex-direction: column;
//         }
//     }
// }